---
layout: filters
permalink: filter
title: All Posts
bgimg: darkbg6.png
description: A one-page view allowing you to filter news/blog posts
---
<button data-filter="all" type="button" class="btn btn-primary mb-2">all</button>
{% for tag in site.tags %}{% assign posts = tag | last %}
  <button data-filter="{{ tag | first }}" type="button" class="btn btn-primary mb-2">{{ tag | first }} <span class="badge badge-dark">{{ posts | size }}</span></button>
{% endfor %}
      <div class="filtr-container container">
      {% for post in site.posts %}
      {% if post.tags %}
            <div class="filtr-item py-1 px-0 p-md-1 filtered {% if post.mainimg %}col-sm-6{% else %}col-sm-3{% endif %}" data-category="{% if post.tags.size <= 1 %}{{ post.tags }}{% elsif post.tags.size > 1 %}{{ post.tags | sort | join: ", " }}{% endif %}" data-sort="value">
                  
              <div class="bg-light rounded">
                {% if post.mainimg %}
                <div class="entry-image-index">
                <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.url }}/images/{{ post.mainimg }}" alt="{{ post.title }}" class="img-fluid rounded-top"></a>
                </div><!-- /.entry-image -->
                {% endif %}
                <div class="filter-inner px-2 pt-3 pb-1">
              <time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">  {{ post.date | date: "%B %d, %Y" }}</a></time>
              <h4 class="filter-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h4>
              
              {% if post.tags contains 'video' %}{{ post.content }}{% elsif post.description %}
              <p>{{ post.description }} {% if post.audio %}<a href="{{ site.url }}/audio/files/{{ post.audio.path }}" class="no-barba brinsk-sm2">{{ post.audio.title }}{% if post.audio.band %} - {{ post.audio.band }}{% endif %}</a>{% endif %}</p>{% endif %}
              </div>
            </div>
            </div>
      {% endif %}
      {% endfor %} 
      </div>
      <ul class="tags">
