---
layout: default
---
  <div class="py-5 text-center cover d-flex flex-column bg-dark">
    <div class="container my-auto">
      <div class="row">
        <div class="mx-auto col-lg-8 col-md-10">
          <h1 class="display-1 mb-0 mt-5 big-title"><span class="brinskbox">Aryeh Ko<span class="brinsk">brinsk</span>y</span></h1>
          <h3 class="mt-4 mb-2"><b>{{ site.description }}</b></h3>
                <ul class="footer-social main-social inline">
        
        {% if site.owner.instagram %}<li class="list-inline-item">
          <a href="https://instagram.com/{{ site.owner.instagram }}" target="_blank"><i class="fa fa-fw fa-instagram"></i></a>
        </li>{% endif %}
        {% if site.owner.facebook %}<li class="list-inline-item">
          <a href="https://facebook.com/{{ site.owner.facebook }}" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
        </li>{% endif %}
        {% if site.owner.google_plus %}<li class="list-inline-item">
          <a href="https://google.com/{{ site.owner.google_plus }}" target="_blank"><i class="fa fa-fw fa-google-plus"></i></a>
        </li>{% endif %}
        {% if site.owner.linkedin %}<li class="list-inline-item">
          <a href="https://linkedin.com/in/{{ site.owner.linkedin }}" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
        </li>{% endif %}
        {% if site.owner.github %}<li class="list-inline-item">
          <a href="https://github.com/{{ site.owner.github }}" target="_blank"><i class="fa fa-fw fa-github"></i></a>
        </li>{% endif %}
        {% if site.owner.stackexchange %}<li class="list-inline-item">
          <a href="{{ site.owner.stackexchange }}" target="_blank"><i class="fa fa-fw fa-stack-exchange"></i></a>
        </li>{% endif %}
        {% if site.owner.flickr %}<li class="list-inline-item">
          <a href="https://www.flickr.com/photos/{{ site.owner.flickr }}" target="_blank"><i class="fa fa-fw fa-flickr"></i></a>
        </li>{% endif %}
        {% if site.owner.tumblr %}<li class="list-inline-item">
          <a href="http://{{ site.owner.tumblr }}.tumblr.com" target="_blank"><i class="fa fa-fw fa-tumblr"></i></a>
        </li>{% endif %}
        {% if site.owner.twitter %}<li class="list-inline-item">
          <a href="https://twitter.com/{{ site.owner.twitter }}" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
        </li>{% endif %}
        {% if site.owner.email %}<li class="list-inline-item">
          <a href="mailto:{{ site.owner.email }}" target="_blank"><i class="fa fa-fw fa-envelope"></i></a>
        </li>{% endif %}
      </ul><!-- /.dl-submenu -->
        </div>
      </div>
    </div>
    <div class="container mt-auto">
      <div class="row">
        <div class="mx-auto col-lg-6 col-md-8 col-10">
          <a href="#mission"><i class="d-block fa fa-angle-down fa-2x"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 filter-dark cover bg-fixed mainimg" id="mission">
    <div class="container my-auto">
      <div class="row">
        <div class="col-md-8 p-3 text-white">
          {%- include quotes.html -%}
        </div>
      </div>
    </div>
  </div>

  <div class="pt-3 bg-light" id="concerts">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12 px-md-4">
          <h2 class="mb-2"><a href="{{ site.url }}/concerts">Concerts</a></h2>
          <div class="row text-left">
            <div class="px-3 pb-4 col-lg-6 col-md-6">
                <div class="front-block concert-block">

                  {% assign sorted = site.concerts | sort: 'date' | reverse %}
                  {% for item in sorted limit:5 %}
                        <div class="concert-listing"><div class="cl-date">{{ item.date | date: "%a %b %d %Y "}}</div><div class="cl-title"><a href="{{ item.url }}">{{ item.title }}</a></div></div>
                        {% endfor %}
                </div>
          </div>
          <div class="px-3 pb-4 col-lg-6 col-md-6">
                <div class="front-block concert-block">
                  {% for item in sorted limit:5 offset:5 %}
                        <div class="concert-listing"><div class="cl-date">{{ item.date | date: "%a %b %d %Y "}}</div><div class="cl-title"><a href="{{ item.url }}">{{ item.title }}</a></div></div>
                        {% endfor %}
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="py-5 filter-dark cover bg-fixed thirdimg" id="mission">
  <div class="container my-auto">
    <div class="row">
      <div class="p-4 col-md-6">
                <h3>Get emails</h3>
                <form method="POST" action="http://formspree.io/aryeh.kobrinsky@gmail.com">
        <div class="form-group">
          <input type="email" class="form-control form-control-sm" id="contactEmail" aria-describedby="emailHelp" placeholder="Enter email" name="email">
        </div>
        <input type="text" name="_gotcha" style="display:none" />
        <div class="form-group">
          <input type="text" class="form-control form-control-sm" id="contactName" placeholder="Name" name="_name">
        </div>
        <input type="hidden" name="_next" value="{{ site.url }}/thanks" />  
        <button type="submit" class="btn btn-outline-light btn-sm" id="sendMessage">Submit</button>
        </form>
              </div>
    </div>
  </div>
  </div>
  <div class="py-5 text-center bg-white" id="Projects">
    <div class="container">
      <div class="row">
        <div class="col-md-12"> </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 class="mb-4">Projects</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 px-4 mb-4 col-6 px-lg-5">
          <a data-toggle="modal" data-target=".yellow" href="">
            <div class="card project">
              <img class="card-img rounded-circle" src="{{ site.url }}/assets/img/basso.jpg" alt="Card image">
              <div class="card-body p-0">
                <p class="mt-3 mb-1"><b>Basso Basso Basso</b></p>
                <p class="text-muted m-0"><small>bass clarinet bass clarinet and bass clarinet</small></p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 px-4 mb-4 col-6 px-lg-5">
          <a data-toggle="modal" data-target=".cyan" href="">
            <div class="card project">
              <img class="card-img rounded-circle" src="{{ site.url }}/assets/img/solo.jpg" alt="Card image">
              <div class="card-body p-0">
                <p class="mt-3 mb-1"><b>Solo Shmolo</b></p>
                <p class="text-muted m-0"><small>solo recording to be released Sept 2018</small></p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 px-4 mb-4 col-6 px-lg-5">
          <a data-toggle="modal" data-target=".red" href="">
            <div class="card project">
              <img class="card-img rounded-circle" src="{{ site.url }}/assets/img/brinsk-hamster.jpg" alt="Card image">
              <div class="card-body p-0">
                <p class="mt-3 mb-1"><b>Brinsk</b></p>
                <p class="text-muted m-0"><small>"acoustic metal jazz" quintet</small></p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 px-4 mb-4 col-6 px-lg-5">
          <a data-toggle="modal" data-target=".purple" href="">
            <div class="card project">
              <img class="card-img rounded-circle" src="{{ site.url }}/assets/img/perfect-friend.jpeg" alt="Card image">
              <div class="card-body p-0">
                <p class="mt-3 mb-1"><b>Perfect Friend</b></p>
              </div>
            </div>
          </a>
        </div>
                <div class="col-md-4 px-4 mb-4 col-6 px-lg-5">
          <a data-toggle="modal" data-target=".white" href="">
            <div class="card project">
              <img class="card-img rounded-circle" src="{{ site.url }}/assets/img/hushpoint-project.jpg" alt="Card image">
              <div class="card-body p-0">
                <p class="mt-3 mb-1"><b>Hush Point</b></p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade yellow">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title"><b>Basso Basso Basso</b> - bass clarinet bass clarinet and bass</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        </div>
        <div class="modal-body bg-light">
          <div class="row">
            <div class="col-md-4 px-3">
              <img class="img-fluid d-block mx-auto rounded-circle" src="{{ site.url }}/assets/img/basso.jpg"> </div>
            <div class="col-md-8 p-2">
              <p class="">EP tracked and coming out soon!.&nbsp;
                <br>
                <br>Patrick Breiner - bass clarinet
                <br>Alec Spiegelman - bass clarient
                <br>Aryeh Kobrinsky - bass</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade cyan">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title"><b>Solo Shmolo</b> - documentation of my exploration in tuning in 5ths</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        </div>
        <div class="modal-body bg-light">
          <div class="row">
            <div class="col-md-4 px-3">
              <img class="img-fluid d-block mx-auto rounded-circle" src="{{ site.url }}/assets/img/solo.jpg"> </div>
            <div class="col-md-8 p-2">
              <p class="">In 2016, I made the switch to tuning my bass in 5ths. Solo Shmolo is an ongoing project of presenting, documenting, recording the new sounds and techniques that have developed from the switch.&nbsp;
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade red">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title"><b>Brinsk</b> - acoustic metal quintet</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        </div>
        <div class="modal-body bg-light">
          <div class="row">
            <div class="col-md-4 px-3">
              <img class="img-fluid d-block mx-auto rounded-circle" src="{{ site.url }}/assets/img/brinsk-hamster.jpg"> </div>
            <div class="col-md-8 p-2">
              <p class="">My debut project and album from long ago:
              <br>Jacob Wick - trumpet
              <br>Evan Smith - saxophone
              <br>Adam Dotson - euphonium
              <br>Aryeh Kobrinsky - bass</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade purple">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title"><b>Perfect Friend</b> - Destination Wedding</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        </div>
        <div class="modal-body bg-light">
          <div class="row">
            <div class="col-md-4 px-3">
              <img class="img-fluid d-block mx-auto rounded-circle" src="{{ site.url }}/assets/img/perfect-friend.jpeg"> </div>
            <div class="col-md-8 p-2">
              <p class="">New quartet with:&nbsp;
                <br>Jake Henry - trumpet
                <br>Nathaniel Morgan - saxophone
                <br>Aryeh Kobrinsky - bass
                <br>Cody Brown - drums
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade white">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title"><b>Hush Point</b></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        </div>
        <div class="modal-body bg-light">
          <div class="row">
            <div class="col-md-4 px-3">
              <img class="img-fluid d-block mx-auto rounded-circle" src="{{ site.url }}/assets/img/hushpoint-project.jpg"> </div>
            <div class="col-md-8 p-2">
              <p class="">
              <br>John McNeil - trumpet
              <br>Jeremy Udden - saxophone
              <br>Aryeh Kobrinsky - bass
              <br>Anthony Pinciotti - drums</p><p><a href="http://hushpoint.com">hushpoint.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade blue">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title"><b>Blue</b> - Field Researcher</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        </div>
        <div class="modal-body bg-light">
          <div class="row">
            <div class="col-md-4 px-3">
              <img class="img-fluid d-block mx-auto rounded-circle" src="assets/team/blue.jpg"> </div>
            <div class="col-md-8 p-2">
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.&nbsp;
                <br>
                <br>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- include footer.html -%}