  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% if page.collection == 'concerts' %}{{ page.date | date: "%a %b %d %Y "}}{% if page.venue.name %} @ {{ page.venue.name }}{% endif %} - {{ page.time }}. {{ page.excerpt | strip_html }}{% elsif page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.title }} - {{ page.title }}{% endif %}">
    <meta name="author" content="{{ site.title }}">
    <meta name="twitter:title" content="{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.collection == 'concerts' %}{{ page.date | date: "%a %b %d %Y "}}{% if page.venue.name %} @ {{ page.venue.name }}{% endif %} - {{ page.time }}. {{ page.excerpt | strip_html | truncate: 144 }}{% elsif page.description %}{{ page.description | truncate: 200 }}{% elsif page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.title }} - {{ page.title }}{% endif %}">
    <meta name="twitter:creator" content="@{{ site.owner.twitter }}">
    <meta name="twitter:image" content="{% if page.mainimg %}{{ site.url }}/images/{{ page.mainimg }}{% else %}{{ site.url }}/images/fb-aryeh.jpg{% endif %}">
    <meta name="google-site-verification" content="zStwYJtxl8IWOvgIroXlb8HRCVgXaxPJ7Nxvwn9j2dk" /><!-- Open Graph -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:image" content="{% if page.mainimg %}{{ site.url }}/images/{{ page.mainimg }}{% else %}{{ site.url }}/images/fb-aryeh.jpg{% endif %}">
    <meta property="og:description" content="{% if page.collection == 'concerts' %}{{ page.date | date: "%a %b %d %Y "}}{% if page.venue.name %} @ {{ page.venue.name }}{% endif %} - {{ page.time }}. {{ page.excerpt | strip_html }}{% elsif page.description %}{{ page.description }}{% elsif page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.title }} - {{ page.title }}{% endif %}">
    <meta name="author" content="{{ site.title }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-91348626-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-91348626-1');
</script>
    <title>{% if page.title %} {{ site.title }} - {{ page.title }} {% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ site.url }}/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.url }}/vendor/bar-ui.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/fruity.css">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.url }}/images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.url }}/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.url }}/images/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="{{ site.url }}/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ site.url }}/images/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="{{ site.url }}/assets/colorful.css">
  </head>

