<blockquote class="blockquote">
    <p class="mb-0">"Bullshit-proof jazz"</p>
    <footer class="blockquote-footer"><cite title="Source Title">Chicago Reader</cite></footer>
</blockquote>
<blockquote class="blockquote">
    <p class="mb-0">"Out jazz with a punk attitude"</p>
    <footer class="blockquote-footer"><cite title="Source Title">Jazztimes</cite></footer>
</blockquote>
<blockquote class="blockquote">
    <p class="mb-0">"Purrs in rhythmic equipoise"</p>
    <footer class="blockquote-footer"><cite title="Source Title">New Yorker</cite></footer>
</blockquote>