<script src="{{ site.url }}/vendor/jquery/jquery.min.js"></script>
<script src="{{ site.url }}/assets/js/barba.min.js"></script>
<script src="{{ site.url }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ site.url }}/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="{{ site.url }}/assets/js/smooth-scroll.js"></script>
<script src="{{ site.url }}/assets/js/jquery.magnific-popup.min.js"></script>
<script src="{{ site.url }}/assets/js/brinsk.js"></script>
<script src="{{ site.url }}/assets/js/soundmanager2-jsmin.js"></script>
<script src="{{ site.url }}/assets/js/bar-ui.js"></script>
<script src="{{ site.url }}/assets/js/inlineplayer.js"></script>
<script src="{{ site.url }}/assets/js/brinsk.min.js"></script>