<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

<body id="page-top">
<div class="sm2-bar-ui flat full-width fixed d-none d-xl-inline">

 <div class="bd sm2-main-controls">

  <div class="sm2-inline-texture"></div>
  <div class="sm2-inline-gradient"></div>

  <div class="sm2-inline-element sm2-button-element">
   <div class="sm2-button-bd">
    <a href="#play" class="sm2-inline-button sm2-icon-play-pause">Play / pause</a>
   </div>
  </div>

  <div class="sm2-inline-element sm2-inline-status">

   <div class="sm2-playlist">
    <div class="sm2-playlist-target">
     <!-- playlist <ul> + <li> markup will be injected here -->
     <!-- if you want default / non-JS content, you can put that here. -->
     <noscript><p>JavaScript is required.</p></noscript>
    </div>
   </div>

   <div class="sm2-progress">
    <div class="sm2-row">
    <div class="sm2-inline-time">0:00</div>
     <div class="sm2-progress-bd">
      <div class="sm2-progress-track">
       <div class="sm2-progress-bar"></div>
       <div class="sm2-progress-ball"><div class="icon-overlay"></div></div>
      </div>
     </div>
     <div class="sm2-inline-duration">0:00</div>
    </div>
   </div>
  </div>

  <div class="sm2-inline-element sm2-button-element">
   <div class="sm2-button-bd">
    <a href="#prev" title="Previous" class="sm2-inline-button sm2-icon-previous">&lt; previous</a>
   </div>
  </div>

  <div class="sm2-inline-element sm2-button-element">
   <div class="sm2-button-bd">
    <a href="#next" title="Next" class="sm2-inline-button sm2-icon-next">&gt; next</a>
   </div>
  </div>


 </div>

 <div class="bd sm2-playlist-drawer sm2-element">

  <div class="sm2-inline-texture">
   <div class="sm2-box-shadow"></div>
  </div>

  <div class="sm2-playlist-wrapper">

    <ul class="sm2-playlist-bd">

<li><a href="{{ site.url }}/audio/files/dotson-merger.mp3"><b>Duo with Adam Dotson</b> - Merger</a></li>
<li><a href="{{ site.url }}/audio/files/andre-jah.mp3"><b>Duo with Andre Matos</b> - Jah</a></li>
<li><a href="{{ site.url }}/audio/files/clinch-not.mp3"><b>New Old Timers</b> - Clinch Mountain Backstep</a></li>
<li><a href="{{ site.url }}/audio/files/dotson-folksong-two.mp3"><b>Duo with Adam Dotson</b> - Folksong II</a></li>
<li><a href="{{ site.url }}/audio/files/scuffle.mp3"><b>Hush Point</b> - Scuffle</a></li>
<li><a href="{{ site.url }}/audio/files/dusty-crowns.mp3"><b>Duo with Dustin Carlson</b> - Crowns</a></li>
<li><a href="{{ site.url }}/audio/files/jake.mp3"><b>Duo with Jake Henry</b> - Improvisation</a></li>
<li><a href="{{ site.url }}/audio/files/dotson-folksong-one.mp3"><b>Duo with Adam Dotson</b> - Folksong I</a></li>


     <!-- standard one-line items -->
    </ul>

  </div>

 </div>
</div>
    <div id="barba-wrapper">
      <div class="barba-container">
          {%- include nav.html -%}
            {{ content }}
      </div>
    </div>
{%- include scripts.html -%}

</body>

</html>
