---
layout: default
---
<div class="py-4 filter-dark cover text-center headerimg" id="mission" {% if page.bgimage %} style="background: url('{{ site.url }}/images/{{ page.bgimage }}') center center / cover;" {% endif %}>
  <div class="container my-auto">
    <div class="row">
      <div class="col-md-12 text-white">
              <h1 class="entry-title">{{ page.title }}</h1>
        {% if page.date %}
        <h2 class="big-concert-date">
          {{page.date | date: "%a %b %d %Y "}}
        </h2><!-- /.entry-reading-time -->
        {% endif %}
        {% if page.time %}
        <h2 class="big-concert-time">
          <i class="fa fa-clock-o"></i>
          {{ page.time }}
        </h2>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{%- include breadcrumb.html -%}
<div class="bg-light">
    <div class="container">
      <div class="row">
      <div class="my-3 col-12 col-sm-8 ml-auto mr-auto py-4">
        {{ content }}
        </div>
      </div>
    </div>
</div>
{%- include footer.html -%}
